.app {
  display: flex;
  height: 100%;
  width: 100%;
}

.app__player-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.app__player {
  flex: 1;
  overflow: hidden;
}

.app__video-box {
  align-items: center;
  aspect-ratio: 16 / 9;
  background-color: Black;
  border-radius: 4px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.app__video {
  width: 100%;
}
